h1 {
    margin-bottom: 0;
    text-align: center;
    color: var(--mid-dark);
    letter-spacing: 0.5rem;
    font-size: 3rem;
}

#subtitle {
    margin-top: 0;
    display: block;
    text-align: center;
    color: var(--mid-dark);
    font-size: 1.5rem;
    font-style: italic;
}

#mainMenu {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 50px 0 50px;
}

#mainMenu > #filterMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

#mainMenu > #filterMenu > button {
    border: none;
    border-radius: 5px;
    letter-spacing: 3px;
    background-color: var(--mid-dark);
    color: var(--mid-light);
    width: 14%;
    height: 30px;
    transition: 150ms ease-in-out all;
}

#mainMenu > #filterMenu > button:hover {
    background-color: var(--hovered-blue);
}

#mainMenu > #showBuyMenu > button {
    border: none;
    border-top: 2px solid var(--mid-light);
    border-bottom: 2px solid var(--mid-light);
    border-radius: 5px;
    letter-spacing: 3px;
    background-color: var(--mid-light);
    color: var(--mid-dark);
    height: 30px;
    font-weight: bold;
    padding: 0 60px;
    transition: 150ms ease-in-out all;
}

#mainMenu > #showBuyMenu > button:hover {
    border-top: 2px solid var(--mid-dark);
    border-bottom: 2px solid var(--mid-dark);
}

.searchForm > input {
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    border: 2px solid var(--mid-dark);
    border-radius: 100px 0 0 100px;
    font-size: 1.10rem;
    padding-left: 10px;
    transform: skewX(-10deg);
}

.searchForm > button {
    border: none;
    color: var(--mid-light);
    font-weight: bold;
    width: 8%;
    height: 35px;
    background-color: var(--mid-dark);
    border-radius: 0 100px 100px 0;
    font-size: 1rem;
    transform: skewX(-10deg);
    transition: 150ms ease-in-out all;
}

.searchForm > button:hover {
    background-color: var(--hovered-blue);
}

#userForm {
    position: absolute;
    top: 0;
    background-color: var(--mid-dark);
    border-radius: 10px;
    width: 25%;
    height: 10px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#userForm > p {
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--mid-light);
    display: inline;

    margin-right: 10px;
}

#userForm > input {
    width: 50%;
    height: 18px;
    border: none;
    border-radius: 2px;
    background-color: var(--mid-light);
    color: var(--dark);
}

/* --- Consulta de Artículos --- */

#box-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.box-item {
    padding: 20px 20px 20px 20px;

    background-color: var(--mid-light);
    /*border: var(--dark) solid 4px;*/
    border-radius: 10px;
}

.prop-nombre {
    color: var(--mid-dark);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.box-item > button {
    height: 30px;
    width: 100%;

    background-color: var(--mid-dark);
    border: none;
    border-radius: 5px;

    color: var(--mid-light);
    font-weight: bold;

    transition: ease-in-out all 250ms;
}

.box-item > button:hover {
    background-color: var(--hovered-blue);
}

#addForm-container {
    visibility: hidden;
    margin: 0 auto;
    padding: 5px;
    width: 40%;
    height: 40%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#addForm {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: var(--light);
    border-radius: 10px;
    border: var(--mid-dark) solid 1px;
    box-shadow: 0 4px 8px rgba(180, 180, 180, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#addForm > h3 {
    margin: 0;
    color: var(--mid-dark);
    font-size: 1.5rem;
}

#addForm > #addFormItemId {
    margin: 0;
    margin-bottom: 20px;
}

#addForm > #cantidad-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addForm > #cantidad-container > button {
    background-color: var(--mid-light);
    border-radius: 5px;
    border: 1px solid var(--mid-light);
    width: 35px;
    height: 35px;
    justify-items: center;
    text-align: center;
    padding: 0;
}

#addForm > #cantidad-container > button:hover {
    border: 1px solid var(--mid-dark);
}

#addForm #compra-cantidad {
    background-color: var(--mid-light);
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 38px;
    margin: 0 5px 0 5px;
    justify-items: center;
    text-align: center;
    padding: 0;
}

#addForm > .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 80%;
}

#addForm > .input-container > span {
    font-size: 1.25rem;
    color: var(--mid-dark);
    font-weight: bold;
}

#addForm input[type="text"] {
    width: 75%;
    height: 30px;
    background-color: var(--mid-light);
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.1rem;
}

#addForm > input[type="submit"] {
    margin-top: 20px;
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--mid-dark);
    color: var(--mid-light);
    font-weight: bold;
    transition: ease-in-out all 150ms;
}

#addForm > input[type="submit"]:hover {
    background-color: var(--hovered-blue);
}

#addForm > button {
    margin-top: 10x;
    width: 35%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--dark);
    color: var(--mid-light);
    font-weight: bold;
    transition: ease-in-out all 150ms;
}

#addForm > button:hover {
}

/* --- Consulta de Compras --- */

#meCanseDePensarNombres {
    margin: 40px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#meCanseDePensarNombres > button {
    border: none;
    border-radius: 5px;
    letter-spacing: 3px;
    background-color: var(--mid-dark);
    color: var(--mid-light);
    width: 20%;
    height: 30px;
    transition: 150ms ease-in-out all;
}

#meCanseDePensarNombres > button:hover {
    background-color: var(--hovered-blue);
}

#meCanseDePensarNombres > #shop-button {
    border: none;
    border-top: 2px solid var(--mid-light);
    border-bottom: 2px solid var(--mid-light);
    border-radius: 5px;
    letter-spacing: 3px;
    background-color: var(--mid-light);
    color: var(--mid-dark);
    height: 30px;
    font-weight: bold;
    transition: 150ms ease-in-out all;
}

#meCanseDePensarNombres > #shop-button:hover {
    border-top: 2px solid var(--mid-dark);
    border-bottom: 2px solid var(--mid-dark);
}

#compras-container {
    margin: 20px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#compras-container > .box-compra {
    background-color: var(--mid-light);
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    padding: 0 20px;
    transition: 200ms ease-in-out all;
}

#compras-container > .box-compra > .box-buttons-container {
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#compras-container > .box-compra > .box-buttons-container > button {
    background-color: var(--dark);
    color: var(--mid-light);
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    font-weight: bold;
    transition: 150ms ease-in-out all;
}

#compras-container > .box-compra > .box-buttons-container > button:hover {
    text-decoration: underline;
}

#compras-container > .box-compra > .box-buttons-container > #elBotonBueno {
    background-color: var(--mid-dark);
    color: var(--mid-light);
}

#compras-container > .box-compra > .box-buttons-container > #elBotonBueno:hover {
    text-decoration: none;
    background-color: var(--hovered-blue);
}

#updateForm-container {
    visibility: hidden;
    margin: 0 auto;
    padding: 5px;
    width: 30%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#updateForm {
    width: 100%;
    padding: 40px;
    padding-top: 10px;

    background-color: var(--light);
    border-radius: 10px;
    border: var(--mid-dark) solid 1px;
    box-shadow: 0 4px 8px rgba(180, 180, 180, 0.3);
}

#updateForm > #formContentContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
