h1{
    text-align: center;
}

.barra-inicio {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Centra los botones verticalmente */
    width: 100%; /* Ocupa todo el ancho de la página */   
}

.botones-menu {
flex: 1; /* Hace que los botones se estiren para ocupar el espacio disponible */
padding: 20px; /* Espacio interno de los botones */
font-size: 16px; /* Tamaño de la fuente */
border: none; /* Elimina el borde */
background-color: #657db6; /* Color de fondo del botón */
color: white; /* Color del texto */
transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
}

.botones-menu:hover {
background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
}