<h1>Fake Tous</h1>
<h3>--- ¿Qué te apetece hoy? ---</h3>

<div class="barra-inicio">
    <button class="botones-menu" (click)='filterSelect(4)'>TODOS</button>
    <button class="botones-menu" (click)='filterSelect(tipoEnum.anillo)'>ANILLOS</button>
    <button class="botones-menu" (click)='filterSelect(tipoEnum.collar)'>COLLARES</button>
    <button class="botones-menu" (click)='filterSelect(tipoEnum.pendiente)'>PENDIENTES</button>
    <button class="botones-menu" (click)='filterSelect(tipoEnum.pulsera)'>PULSERAS</button>
</div>

<form id="id-search-form" [formGroup]="searchForm" (submit)="onSearchSubmit()">
    <input type="text" formControlName="id" placeholder="Introduce ID para buscar">
    <button type="submit">Buscar</button>
</form>

<div class="box-container">
    @for(item of displayItems; track item._id){
        <div class="box-item">
            <button class="btn-eliminar" (click)="eliminarItem(item._id)">×</button>
            <button class="btn-editar" (click)="this.handleShowUpdate(item._id, item.tipo, item.nombre, item.precio, item.cantidad)">✎</button>
            <p>Nombre: {{item.nombre}}</p>
            <p>Precio: {{item.precio}}</p>
            <p>Cantidad: {{ item.cantidad }}</p>
            <p>Id: {{item._id}}</p>
        </div>
    }
    <!--Boton para añadir un elementos-->
    <button class="add-item" (click)="this.showForm = 'visible'">
        <p class="add-icon">+</p>
    </button>
</div>

<!-- Formulario para crear -->
<div id="addForm-container" [style]="'visibility:' + this.showForm">
    <form id="addForm" [formGroup]="addForm" (submit)="onSubmit()">
        <span>Nueva Joya</span>
        <div id="radio-container">
            <input type="radio" id="anillo" name="tipo" checked="checked" (click)='this.creatingTipo = this.tipoEnum.anillo'>
            <label for="anillo">Anillo</label>
            <br>

            <input type="radio" id="collar" name="tipo" (click)='this.creatingTipo = this.tipoEnum.collar'>
            <label for="collar">Collar</label>
            <br>

            <input type="radio" id="pendiente" name="tipo" (click)='this.creatingTipo = this.tipoEnum.pendiente'>
            <label for="pendiente">Pendiente</label>
            <br>

            <input type="radio" id="pulsera" name="tipo" (click)='this.creatingTipo = this.tipoEnum.pulsera'>
            <label for="pulsera">Pulsera</label>
            <br>
        </div>

        <input type="text" formControlName="nombre" placeholder="Nombre del artículo">
        <input type="text" formControlName="precio" placeholder="Precio del artículo">
        <input type="text" formControlName="cantidad" placeholder="Cantidad">

        <input type="submit" name="submit" value="Crear Joya">
        <button type="button" (click)="this.showForm = 'hidden'">Cerrar</button>
    </form>
</div>

<!-- Formulario para editar -->
<div id="updateForm-container" [style]="'visibility:' + this.showUpdateForm">
    <form id="updateForm" [formGroup]="updateForm" (submit)="onUpdateSubmit()">
        <span>Update Form</span>
        <span>Id: {{this.updatingId}}</span>
        <br>
        <label for="nombre">Nombre: </label>
        <input type="text" formControlName="nombre">
        <label for="precio">Precio: </label>
        <input type="text" formControlName="precio">
        <label for="cantidad">Cantidad: </label>
        <input type="text" formControlName="cantidad">
        <input type="submit" name="submit" value="Actualizar">
        <button type="button" (click)="this.showUpdateForm = 'hidden'">Close</button>
    </form>
</div>
