<h1>Joyería</h1>

<div class="barra-inicio">
    <button class="botones-menu" (click)='filterSelect("todos")'>TODOS</button>
    <button class="botones-menu" (click)='filterSelect("anillos")'>ANILLOS</button>
    <button class="botones-menu" (click)='filterSelect("collares")'>COLLARES</button>
    <button class="botones-menu" (click)='filterSelect("pendientes")'>PENDIENTES</button>
    <button class="botones-menu" (click)='filterSelect("pulseras")'>PULSERAS</button>
</div>

<div>Busqueda de articulo por ID: <input type="text"></div>

<div class="box-container">
    @for(item of currentDisp; track item._id){
        <div class="box-item">
            <button class="btn-eliminar" (click)="eliminarItem(item._id)">×</button>
            <button class="btn-editar">✎</button>
            <p>Nombre: {{item.nombre}}</p>
            <p>Precio: {{item.precio}}</p>
            <p>Gema: {{item.gema}}</p>
            <p>Id: {{item._id}}</p>
        </div>
    }
    <!--Boton para añadir un elementos-->
    <button class="box-item add-item" (click)="this.showForm = 'visible'">
        <p class="add-icon">+</p>
    </button>
</div>

<div id="addForm-container" [style]="'visibility:' + this.showForm">
    <form id="addForm" [formGroup]="addForm" (submit)="onSubmit()">
        <div id="radio-container">
            <input type="radio" id="anillo" name="coleccion" value="anillo" (click)='this.placeString = "Gema del anillo"; this.actionDir = "/anillo"'>
            <label for="anillo">Anillo</label>
            <br>

            <input type="radio" id="collar" name="coleccion" value="collar" (click)='this.placeString = "Color del collar"; this.actionDir = "/collar"'>
            <label for="collar">Collar</label>
            <br>

            <input type="radio" id="pendiente" name="coleccion" value="pendiente" (click)='this.placeString = "Metal del pendiente"; this.actionDir = "/pendiente"'>
            <label for="pendiente">Pendiente</label>
            <br>

            <input type="radio" id="pulsera" name="coleccion" value="pulsera" (click)='this.placeString = "Talla de la pulsera"; this.actionDir = "/pulsera"'>
            <label for="pulsera">Pulsera</label>
            <br>
        </div>

        <input type="text" formControlName="nombre" placeholder="Nombre del artículo">
        <input type="text" formControlName="precio" placeholder="Precio del artículo">
        <input type="text" formControlName="extra" [placeholder]="this.placeString">

        <input type="submit" name="submit" value="submit">
        <button type="button" (click)="this.showForm = 'hidden'">Close</button>
    </form>
</div>
