<h1>Fake Tous</h1>
<span id="subtitle">— ¿Qué te apetece hoy? —</span>

<div id="mainMenu">
    <div id="filterMenu">
        <button class="botones-menu" (click)='filterSelect(4)'>TODOS</button>
        <button class="botones-menu" (click)='filterSelect(tipoEnum.anillo)'>ANILLOS</button>
        <button class="botones-menu" (click)='filterSelect(tipoEnum.collar)'>COLLARES</button>
        <button class="botones-menu" (click)='filterSelect(tipoEnum.pendiente)'>PENDIENTES</button>
        <button class="botones-menu" (click)='filterSelect(tipoEnum.pulsera)'>PULSERAS</button>
    </div>
</div>
    

<div>
    <form id="userForm" [formGroup]="userIdForm">
        <p>ID Usuario:</p>
        <input type="text" formControlName="userId" name="userId">
    </form>
    
    <!-- <button id="mostrarArticulos" (click)="this.readJoyas()">Mostrar Articulos</button> -->
</div>

<div id="titulo">
    <span>Gestión de Articulos</span>
</div>


<form class="searchForm" [formGroup]="searchForm" (submit)="onSearchSubmit()">
    <input type="text" formControlName="id" placeholder="Introduce ID para buscar">
    <button type="submit">Buscar</button>
</form>

<div id="box-container">
    @for(item of displayItems; track item._id){
        <div class="box-item">
            <p class="prop-nombre">{{item.nombre}}</p>
            <p class="prop-precio">Precio: {{item.precio}}</p>
            <p class="prop-cantidad">Cantidad: {{ item.cantidad }}</p>
            <p class="prop-id">ID: {{item._id}}</p>
            <div class="box-buttons-container">
                <button id="elBotonBueno" type="button"(click)="this.handleShowUpdate(item._id, item.tipo, item.nombre, item.precio, item.cantidad)">Editar</button>
                <button type="button" (click)="eliminarItem(item._id)">Eliminar</button>
            </div>
        </div>
    }
    <!--Boton para añadir un elementos-->
    <button class="box-item-add" (click)="this.showForm = 'visible'">
        <p class="add-icon">+</p>
    </button>
</div>

<!-- Formulario para crear -->
<div id="addForm-container" [style]="'visibility:' + this.showForm">
    <form id="addForm" [formGroup]="addForm" (submit)="onSubmit()">
        <h3>Nueva Joya</h3>
        <div id="radio-container">
            <input type="radio" id="anillo" name="tipo" (click)="this.creatingTipo=this.tipoEnum.anillo" checked="checked">
            <label for="anillo">Anillo</label>
            <br>

            <input type="radio" id="collar" name="tipo" (click)="this.creatingTipo=this.tipoEnum.collar">
            <label for="collar">Collar</label>
            <br>

            <input type="radio" id="pendiente" name="tipo" (click)="this.creatingTipo=this.tipoEnum.pendiente">
            <label for="pendiente">Pendiente</label>
            <br>

            <input type="radio" id="pulsera" name="tipo" (click)="this.creatingTipo=this.tipoEnum.pulsera">
            <label for="pulsera">Pulsera</label>
            <br>
        </div>

        <input type="text" formControlName="nombre" placeholder="Nombre del artículo">
        <input type="text" formControlName="precio" placeholder="Precio del artículo">
        <input type="text" formControlName="cantidad" placeholder="Cantidad">

        <input type="submit" name="submit" value="Crear Joya">
        <button type="button" (click)="this.showForm = 'hidden'">Cerrar</button>
    </form>
</div>

<!-- Formulario para editar -->
<div id="addForm-container" [style]="'visibility:' + this.showUpdateForm">
    <form id="addForm" [formGroup]="updateForm" (submit)="onUpdateSubmit()">
        <h3>Actualizar Joya</h3>
        <span>Id: {{this.updatingId}}</span>
        <br>
        <label for="nombre">Nombre: </label>
        <input type="text" formControlName="nombre">
        <label for="precio">Precio: </label>
        <input type="text" formControlName="precio">
        <label for="cantidad">Cantidad: </label>
        <input type="text" formControlName="cantidad">
        <input type="submit" name="submit" value="Actualizar">
        <button type="button" (click)="this.showUpdateForm = 'hidden'">Cerrar</button>
    </form>
</div>