<h1>Fake Tous</h1>
<h3>--- ¿Qué te apetece hoy? ---</h3>
<h2>Gestion de Usuarios</h2>

<form id="addForm" [formGroup]="addForm" (submit)="onSubmit()">
    <span>Nuevo Usuario</span>
    <div id="radio-container">
        <label for="administrador">Administrador</label>
        <input type="radio" name="rolUsuario" id="administrador" value="administrador" formControlName="rolUsuario">
        <br>
        <label for="estandar">Estandar</label>
        <input type="radio" name="rolUsuario" id="estandar" value="estandar" formControlName="rolUsuario">
        <br>
    </div>
    <input type="text" formControlName="nombre" placeholder="Nombre del usuario">
    <input type="submit" name="submit" value="Crear usuario">
</form>

<p>Aqui vamos a mostrar los usuarios</p>

<div class="box-container">
    @for (item of displayItems; track item._id) {
        <div class="box-item">
            <p>{{item.nombre}}</p>
            <p>{{item.permisos}}</p>
            <p>{{item._id}}</p>
            <p>__________________________</p>
        </div>
        
    }
</div>
